<h1>This is ABOUT_US page!</h1>

<br/>
<p><%= link_to("Contact Us", {:action => 'contact', :country => 'ja'}) %></p>
<br/>
<br/>

<a href="/">Go to index!</a>
<br/>
<%= link_to("Go to index2!", {:action => 'index'}) %>

