<h1>This is CONTACT_US page!</h1>

Phone number: <%= @phoneNumber%>
<br/>
<a href="/">Go to index!</a>
<br/>
<%= link_to("Go to index2!", {:action => 'index'}) %>

<br/>
<br/>
<%= link_to("Go to About us page", {:action => 'about'}) %>

